@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap");
:root {
  --primary-color: rgb(13, 106, 134);
  --primary-color-dark: blueviolet;
}

* {
  box-sizing: border-box;
  outline: 0;
}

body {
  margin: 0;
  padding: 0;
  background: var(--primary-color);
  font-family: "Open sans", sans-serif;
  font-size: 1.3em;
  line-height: 1.5em;
}

.conteiner {
  max-width: 640px;
  margin: 50px auto;
  padding: 20px;
  background: #fff;
  border-radius: 10px;
}
.infomacoes{
  display: flex;
  flex-direction: row;
  gap: 10rem;
}

form input,
form label,
form button {
  display: block;
  width: 100%;
  margin-bottom: 10px;
}

form input {
  font-size: 24px;
  height: 50px;
  padding: 0 20px;
  border-radius: 7px;
  border: 2px solid var(--primary-color);
}

form input:focus {
  outline: 1px solid var(--primary-color);
}
form button {
  border: none;
  background: var(--primary-color);
  color: #fff;
  font-size: 18px;
  font-weight: 700;
  height: 50px;
  margin-top: 30px;
  cursor: pointer;
  border-radius: 7px;
}

form button:hover {
  background: var(--primary-color-dark);
}

.paragrafo-resultado{
  background: var(--primary-color-dark);
  color: #fff;
  border-radius: 7px;
  padding: 10px 20px;
  text-align: center;
}

.bad{
  background: rgb(191, 60, 60);
  padding: 10px 20px;
  text-align: center;
  color: #fff;
  border-radius: 7px;
}
